<html>
  <head>
    <title></title>
    <meta content="">
    <style></style>
  </head>
  <body>
  <a href="/ccloud/user/Home">Home</a>
  <a href="/ccloud/logout">Logout</a>
  <p> Add cluster </p>
  {% if addflg %}
   <strong> {{ message }} </strong>
   <a href="/ccloud/user/cluster/home/">Return to the homepage.</a><br />
  {% else %}
    <strong> {{ message }} </strong>
    <form id="addclusterPage" action="/ccloud/user/cluster/add/" method="post">
        {% csrf_token %}
        {{ form.as_p }}    
        <input type="submit" name="Add" value="Add Cluster" /> 
    </form>    
  {% endif %}
  </body>
</html>