{% extends "ccloud/base.html" %}

{% block title %}
      <title>Container Creation</title>
{% endblock %}

{% block css %}
            {% load static %}
          <link rel="stylesheet" type="text/css" href="{% static 'ccloud/mainPage.css' %}" />
{% endblock %}

{% block content %}
<p></p>
<div class="container" >
<div class="card col-sm-4 push-sm-4">
<div class="card-header" align="center"> Cluster Details </div>
<div class="card-block">
 {% if addflg %}
   <strong> {{ message }} </strong>
   <a href="/ccloud/mainPage">Return to the homepage.</a><br />
  {% else %}
  <form id="addPage" action="/ccloud/addclusterPage/" method="post">
    {% csrf_token %}
    {{ form.as_p }}    
    <input type="submit" name="Add" value="Add Cluster" /> 
  </form>
  {% endif %}
  </div>
  </div>
  </div>

{% endblock %}

<!--<html>
  <head>
    <title></title>
    <meta content="">
    <style></style>
  </head>
  <body>
  <p> Add cluster </p>
  {% if addflg %}
   <strong> {{ message }} </strong>
   <a href="/ccloud/clusterHome">Return to the homepage.</a><br />
  {% else %}
    <strong> {{ message }} </strong>
    <form id="addclusterPage" action="/ccloud/addclusterPage/" method="post">
        {% csrf_token %}
        {{ form.as_p }}    
        <input type="submit" name="Add" value="Add Cluster" /> 
    </form>    
  {% endif %}
  </body>
</html>
-->