<html>
  <head>
    <title></title>
    <meta content="">
    <style></style>
  </head>
  <body>
  <a href="/ccloud/user/Home">Home</a>
  <a href="/ccloud/logout">Logout</a>
  <p> Add container </p>
  {% if addflg %}
  {% if cors == "c"  %}
   <strong>Request sent for adding container!! </strong>
   <a href="/ccloud/user/service/main/">Return to the homepage.</a><br />
  {% else %}
    <strong>Request sent for adding service!! </strong>
    <a href="/ccloud/user/cluster/home/">Return to the homepage.</a><br/>
  {% endif %} 
  {% else %}
  <form id="addPage" action="/ccloud/user/service/add/" method="post">
    {% csrf_token %}
    {{ form.as_p }}   
    <input type="hidden" name="cors" value={{cors}} />
    <input type="hidden" name="cid" value={{cid}} />
    <input type="submit" name="Add" value="Add Container" /> 
  </form>
  {% endif %}
  </body>
</html>