{% extends "ccloud/base.html" %}

{% block title %}
      <title>Container Creation</title>
{% endblock %}

{% block css %}
            {% load static %}
          <link rel="stylesheet" type="text/css" href="{% static 'ccloud/mainPage.css' %}" />
{% endblock %}

{% block content %}
<p></p>
<div class="container" >
<div class="card col-sm-4 push-sm-4 ">
<div class="card-header" align="center"> Container Details </div>
<div class="row">
<div class="card-block ">
 {% if addflg %}
   <strong> {{ message }}} </strong>
   <a href="/ccloud/mainPage">Return to the homepage.</a><br />
  {% else %}
  <form id="addPage" action="/ccloud/addPage/" method="post">
    {% csrf_token %}
    {{ form.as_p }}    
    <input type="submit" name="Add" value="Add Container" /> 
  </form>
  {% endif %}
  
  </div>
  </div>
  </div>
  </div>

{% endblock %}

<!--<html>
  <head>
    <title></title>
    <meta content="">
    <style></style>
  </head>
  <body>
  <p> Add container </p>
  {% if addflg %}
   <strong>Request sent for adding container!! </strong>
   <a href="/ccloud/mainPage">Return to the homepage.</a><br />
  {% else %}
  <form id="addPage" action="/ccloud/addPage/" method="post">
    {% csrf_token %}
    {{ form.as_p }}    
    <input type="submit" name="Add" value="Add Container" /> 
  </form>
  {% endif %}
  </body>
</html>
-->