{% extends "ccloud/base.html" %}

{% block title %}
      <title>Meters</title>
{% endblock %}

{% block css %}
            {% load static %}
          	<link rel="stylesheet" type="text/css" href="{% static 'ccloud/mainPage.css' %}" />
{% endblock %}
	
{% block content %}

{% autoescape on %}

<p></p>
    <h2>Your cuurent plan: $ {{ total_price }}</h2>
    <p></p>
	{% for i in clusters %}
	<h3>Cluster: {{i.cluster_name}}-CPU Utilization:</h3>
	    <table class="table table-striped table-bordered table-list">
            <thead>
                <tr>
                    <td>Name</td>
		    <td>Timestamp</td>
                    <td>Instance</td>
                    <td>usage</td>
                </tr>
</thead>
        	{% for j in cpu_util %}
{{j.3}} 	
			{% ifequal j.3|stringformat:"s" i.cluster_name|stringformat:"s"%}<tr>
        			<td>{{i.cluster_name}}</td>
        			<td>{{j.0}}</td>
        			<td>{{j.1}}</td>
        			<td class="usage">{{j.2}} %</td>
        			<td class="price">
        		</tr>
        		{% endifequal %}
        	{% endfor %}
        </table>
	{% endfor %}
	{% for i in clusters %}
	<h3>Cluster: {{i.cluster_name}}-Memory Usage:</h3>
		<table class="table table-striped table-bordered table-list">
            <thead>
                <tr>
                    <td>Name</td>
		    <td>Timestamp</td>
                    <td>Instance</td>
                    <td>usage</td>
                    <td>price</td>
                </tr>
        	</thead>
        	{% for j in memory_usage %}
        		{% ifequal j.3|stringformat:"s" i.cluster_name|stringformat:"s" %}
        		<tr>
        			<td>{{ i.cluster_name }}</td>
        			<td>{{ j.0 }}</td>
        			<td>{{ j.1 }}</td>
        			<td class="usage">{{ j.2 }} MB</td>
        			<td class="price">${{ j.4 }}</td>
        		</tr>
        		{% endifequal %}
        	{% endfor %}
        </table>
	{% endfor %}	

{% endautoescape %}
{% endblock %}
