<html>
  <head>
    <title></title>
    <meta content="">
    <style></style>
  </head>
  <body>
  <strong><h2> <p> Cluster details {{cid}} </p></h2></strong>   
  {% if addflg %}
   <strong> {{message}}</strong>
   <a href="/ccloud/clusterHome">Return to the homepage.</a><br />
  {% else %}
  <strong> <p> Nodes in cluster {{cid}}</p> </strong>
  <table border=1>
    <tr><td>Node</td><td>Node name</td><td>status</td><td>Master/Worker</td></tr>
    {% for c in node %}
        <tr>
            <td>{{c.machine_ip}}</td>
            <td>{{c.machine_name}}</td>                
            <td>{{c.status}}</td>                
            <td>{{c.master}}</td>                
        </tr>        
    {% endfor %}        
    </table>
  <form id="addPage" action="/ccloud/addPage/" method="post">  
  {% csrf_token %}
  <strong> <p> Services in each node in {{cid}}</p> </strong> 
  <table border=1>
    <tr><td>Service Name</td><td>Service GIT URL</td></tr>
    {% for c in service %}
        <tr>
            <td>{{c.container_name}}</td>
            <td>{{c.git_url}}</td>                
        </tr>        
    {% endfor %}        
    </table>
    <input type="hidden" name="cors" value='s' />
    <input type="hidden" name="cid" value={{cid}} />
    <input type="submit" name="Add" value="Add Container" /> 
  </form>  
  {% if modorview %}
  <strong>  <p> No of nodes to be added </p> </strong> 
  <form id="modifyclusterPage" action="/ccloud/modifyclusterPage/" method="post">
    {% csrf_token %}
    {{ form.as_p }}       
    <input type="hidden" name="cid" value={{cid}} />
    <input type="submit" name="Modify" value="Modify Cluster" /> 
  </form>  
  {% endif %}
  {% endif %}
  </body>
</html>