<html>
  <head>
    <title></title>
    <meta content="">
    <style></style>
  </head>
  <body>
  <a href="/ccloud/userHome">Home</a>
  <a href="/ccloud/logout">Logout</a>
  <p> Modify container {{cid}} </p>  
  {% if modifyflg %}
    {% if cors == "c"  %}
    <strong> {{ delmodflg }} request sent </strong>
    <a href="/ccloud/mainPage">Return to the homepage.</a><br />
    {% else %}
        <strong> {{ delmodflg }} request sent </strong>
        <a href="/ccloud/clusterHome">Return to the homepage.</a><br/>
    {% endif %}  
  {% else %}
    <form id="modifyPage" action="/ccloud/modifyPage/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="cid" id="cid" value="{{cid}}"></input>
        <input type="hidden" name="cors" value={{cors}} />
        <input type="submit" name="redeploy" value="Redeploy" /> 
    </form>
  {% endif %}
  </body>
</html>