{% extends "ccloud/base.html" %}

{% block title %}
      <title>Cluster details</title>
{% endblock %}

{% block css %}
            {% load static %}
            <link rel="stylesheet" type="text/css" href="{% static 'ccloud/mainPage.css' %}" />
{% endblock %}
  
{% block content %}
<div class="container col-sm-6 push-sm-3" >
<p></p>
  <strong><h2> <p align="center"> Cluster details {{cid}} </p></h2></strong>  
  {% if addflg %}
   <strong> {{message}}</strong>
   <a href="/ccloud/clusterHome">Return to the homepage.</a><br />
  {% else %}
  <strong> <p> Nodes in cluster {{cid}}</p> </strong>
  <table border=1>
    <tr><td>Node</td><td>Node name</td><td>status</td><td>Master/Worker</td></tr>
    {% for c in node %}
        <tr>
            <td>{{c.machine_ip}}</td>
            <td>{{c.machine_name}}</td>                
            <td>{{c.status}}</td>                
            <td>{{c.master}}</td>                
        </tr>        
    {% endfor %}        
    </table>
    <p></p>
  <strong> <p> Services in each node in {{cid}}</p> </strong> 
  <table border=1>
    <tr><td>Service</td><td>Service ID</td></tr>
    {% for c in node %}
        <tr>
            <td>{{c.id}}</td>
            <td>{{c.name}}</td>                
        </tr>        
    {% endfor %}        
    </table>
  {% if modorview %}
  <p></p>
  <strong>  <p> No of nodes to be added </p> </strong> 
  <form id="modifyclusterPage" action="/ccloud/modifyclusterPage/" method="post">
    {% csrf_token %}
    {{ form.as_p }}   
    <input type="hidden" name="cid" value={{cid}} />
    <input type="submit" name="Modify" value="Modify Cluster" /> 
  </form>  
  {% endif %}
  {% endif %}
  </div>
{% endblock %}