{% extends "ccloud/base.html" %}

{% block title %}
      <title>Cluster details</title>
{% endblock %}

{% block css %}
            {% load static %}
            <link rel="stylesheet" type="text/css" href="{% static 'ccloud/mainPage.css' %}" />
{% endblock %}
  
{% block content %}
<div class="container col-sm-6 push-sm-3" >
<p></p>
  <strong><h2> <p align="center"> Cluster details {{cid}} </p></h2></strong>

  {% if addflg %}
   <strong> {{message}}</strong>
   <a href="/ccloud/user/cluster/home/">Return to the homepage.</a><br />
  {% else %}
  <strong> <p> Nodes in cluster {{cid}}</p> </strong>
  <table border=1>
    <tr><td>Node</td><td>Node name</td><td>status</td><td>Master/Worker</td></tr>
    {% for c in node %}
        <tr>
            <td>{{c.machine_ip}}</td>
            <td>{{c.machine_name}}</td>                
            <td>{{c.get_status_display}}</td>                
            <td>{{c.master}}</td>                
        </tr>        
    {% endfor %}        
    </table>
    <p></p>
  <strong> <p> Services in each node in {{cid}}</p> </strong>   
  <form id="addPage" action="/ccloud/user/service/add/" method="post">  
  {% csrf_token %}
    <div>
    <input type="hidden" name="cors" value='s' />
    <input type="hidden" name="cid" value={{cid}} />
    <input type="submit" name="Add" value="Add Service" />    
    </div>  
  </form>
  <form id="modifyPage" action="/ccloud/user/service/modify/" method="post">  
  {% csrf_token %}  
  <table border=1>
    <tr><td>Select</td><td>Service ID</td><td>Service Name</td><td>Service GIT URL</td><td>Status</td><td>Service URL</td></tr>
    {% for c in service %}
        <tr>
            <td><input type="radio" name="cid" value="{{ c.id }}"></td>
            <td>{{c.id }}</td>     
            <td>{{c.container_name}}</td>
            <td>{{c.git_url}}</td>                
            <td>{{c.get_status_display}}</td>   
            <td><a href={{c.container_url}}> {{ c.container_url  }} </a></td>                
        </tr>        
    {% endfor %}        
    </table>
    <input type="hidden" name="cors" value='s' />    
    <input type="submit" name="Modify" value="Scale Service" />    
    <input type="submit" name="Delete" value="Delete Service" />    
  </form>    
  {% if modorview %}
  <p></p>
  <strong>  <p> No of nodes to be added </p> </strong> 
  <form id="modifyclusterPage" action="/ccloud/user/cluster/modify/" method="post">
    {% csrf_token %}
    {{ form.as_p }}       
    <input type="hidden" name="cid" value={{cid}} />
    <input type="submit" name="Modify" value="Modify Cluster" /> 
  </form>  
  {% endif %}
  {% endif %}
  </div>
{% endblock %}
