{% extends "ccloud/base.html" %}

{% block title %}
      <title>Modify container</title>
{% endblock %}

{% block css %}
            {% load static %}
            <link rel="stylesheet" type="text/css" href="{% static 'ccloud/mainPage.css' %}" />
{% endblock %}
  
{% block content %}
  <p> Modify container {{cid}} </p>  
  {% if modifyflg %}
   <strong> {{ delmodflg }} request sent </strong>
   <a href="/ccloud/mainPage">Return to the homepage.</a><br />
  {% else %}
    <form id="modifyPage" action="/ccloud/modifyPage/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="cid" id="cid" value="{{cid}}"></input>
        <input type="submit" name="redeploy" value="Redeploy" /> 
    </form>
  {% endif %}
{% enbdblock %}