{% extends "ccloud/base.html" %}

{% block title %}
      <title>Home</title>
{% endblock %}

{% block content %}
<p></p>
Welcome <b>{{ request.session.username }}</b>, what would you like to do?  
  <ul>
  <li><a href="/ccloud/addPage">Create Container</a></li>
  <li><a href="/ccloud/addClusterPage">Create Cluster</a></li>
  </ul>

{% endblock %}




<!--<html>
  <head>
    <title></title>
    <meta content="">
    <style></style>
  </head>
  <body>
  <strong> Welcome {{ request.session.username }}  </strong> 
  <ul>
  <li><a href="/ccloud/user/cluster/home/">Cluster List</a></li>
  <li><a href="/ccloud/user/service/main/">Container List</a></li>
  </ul>
  </body>
</html>
-->